.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 space("md");
  border-bottom: 1px solid color("gray-200");
  background: color("white");
  z-index: 1;
}

.logo {
  font-size: font("lg");
  color: color("primary");
}
