.timeline {
  position: relative;
  padding-bottom: space("xl");
  display: flex;
  flex-direction: column;
  gap: space(xl);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 1px;
    background: get-color("gray-300");
  }
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: space("md");
  padding-left: space("xl");

  &::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 8px;
    width: 12px;
    height: 12px;
    background: get-color("primary");
    border-radius: radius("full");
    box-shadow: 0 0 0 4px rgba(0, 71, 171, 0.1);
  }
}

.year {
  display: flex;
  flex-direction: column;
  gap: space("xs");

  .txt {
    font-size: font("md");
    font-weight: 600;
    color: get-color("primary");
  }

  .txtS {
    font-size: font("sm");
    color: get-color("gray-500");
  }
}

.content {
  flex: 1;
  padding: space("md") space("lg");
  border-radius: radius("md");
  background: get-color("white");
  border: 1px solid get-color("gray-200");
  display: flex;
  flex-direction: column;
  gap: space("sm");
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
}

.company {
  display: flex;
  align-items: center;
  gap: space("sm");
  font-size: font("lg");
  font-weight: 700;
  color: get-color("dark");

  // span {
  //   font-size: font("sm");
  //   font-weight: 500;
  //   color: get-color("primary");
  //   background-color: rgba(0, 71, 171, 0.08);
  //   padding: space("xs");
  //   border-radius: 3px;
  // }
}

.team {
  font-size: font("md");
  color: get-color("gray-500");
}

.part {
  font-size: font("sm");
  color: get-color("gray-400");
}

@media (min-width: bp("md")) {
  .timeline::before {
    left: 145px;
  }

  .item {
    flex-direction: row;
    align-items: flex-start;
    gap: space("xxl");
    padding-left: 0;

    &::before {
      left: 140px;
      top: 6px;
    }
  }
}
