.inner {
  display: flex;
  flex-direction: column;
  gap: space("md");
}

.txtBox {
  display: flex;
  flex-direction: column;
  gap: space("md");
}

.name {
  font-size: font("xxxl");
  font-weight: 700;
  letter-spacing: -1px;
}

.role {
  font-size: font("xl");
  color: get-color("primary");
}

.desc {
  display: flex;
  flex-direction: column;
  gap: space("sm");
  font-size: font("lg");
  color: get-color("gray-400");
}

.imgBox {
  width: 96px;

  img {
    object-fit: cover;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: space("xs");

  a {
    display: flex;
    gap: 2px;
    align-items: center;
    font-size: font("md");
    text-decoration: underline;
    color: get-color("gray-400");

    &:hover {
      color: get-color("primary");
    }
  }
}

@media (min-width: bp("md")) {
  .inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: space("xxl");
  }

  .txtBox {
    width: calc(100% - 200px - #{space("xxl")});
  }

  .imgBox {
    width: 192px;
  }
}
